# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# تجاهل كل شيء
*

# السماح برفع المجلد src
!/src/

# السماح برفع ملفات التكوين الأساسية
!/angular.json
!/package.json
!/package-lock.json
!/tsconfig.json

